In [58]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [59]:
spark = SparkSession.builder.appName('myAppName').getOrCreate()

In [80]:
schema = StructType().add("customer_id", "string").add("customer_username", "string").add("customer_name", "string")\
                    .add("customer_gender", "string").add("customer_address", "string")\
                    .add("customer_purchase_price", "string").add("customer_country", "string")\
                    .add("createdAt", "string")

In [81]:
df = spark.read.option("header", "true").schema(schema).csv('data/my_csv.csv')

In [82]:
df.show()

+--------------------+-----------------+------------------+---------------+--------------------+-----------------------+--------------------+-------------------+
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|customer_purchase_price|    customer_country|          createdAt|
+--------------------+-----------------+------------------+---------------+--------------------+-----------------------+--------------------+-------------------+
|65c250a9-d28f-498...|  russellsandoval|      Laura Hansen|              F|Unit 4703 Box 943...|             $46,581.80|            Slovenia|31/05/2021 14:38:49|
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|   customer_purchase...|    customer_country|          createdAt|
|d19afc5d-45d5-437...|     brentwoodard|      Kelsey Combs|              F|061 Alexandra Wal...|                $183.69|               Niger|31/05/2021 14:38:49|
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|   customer_purchase...|    customer_country|          createdAt|
|2ee807bc-02c9-431...|    vickifigueroa|     Rodney Morgan|              M|189 Terri Union S...|                $229.43|United States of ...|31/05/2021 14:38:49|
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|   customer_purchase...|    customer_country|          createdAt|
|75d2e8c3-0298-47d...|      emmamichael|     James Nichols|              M|40239 Lewis Valle...|                  $2.91|            Cameroon|31/05/2021 14:38:49|
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|   customer_purchase...|    customer_country|          createdAt|
|f08f7d3b-9a5f-4d0...|williamsonjessica|Jacqueline Bennett|              F|Unit 7553 Box 706...|                $305.57|               Chile|31/05/2021 14:38:49|
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|   customer_purchase...|    customer_country|          createdAt|
|f27a103a-abad-4e2...|      brentlawson|     Kelly Parsons|              F|000 Levine Traffi...|                 $18.43|            Cameroon|31/05/2021 14:38:50|
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|   customer_purchase...|    customer_country|          createdAt|
|cc8759ac-6ebf-493...|      ywashington|      Ashley Brown|              F|26495 Johnson Lod...|             $69,607.90|               Sudan|31/05/2021 14:38:50|
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|   customer_purchase...|    customer_country|          createdAt|
|efdc7e8d-cc7b-454...|       karenwhite|  Mitchell Wilkins|              M|PSC 8910, Box 351...|              $2,802.45|            Slovenia|31/05/2021 14:38:50|
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|   customer_purchase...|    customer_country|          createdAt|
|bd2bea97-7f96-4ec...|    zimmermanjohn|    Anthony Morris|              M|5303 Mills Points...|                  $0.38|              Taiwan|31/05/2021 14:38:50|
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|   customer_purchase...|    customer_country|          createdAt|
|a6b8f062-04d9-409...|        cookpaula|      Steven Allen|              M|387 Samuel Row - ...|              $4,839.94|               China|31/05/2021 14:38:51|
|         customer_id|customer_username|     customer_name|customer_gender|    customer_address|   customer_purchase...|    customer_country|          createdAt|
+--------------------+-----------------+------------------+---------------+--------------------+-----------------------+--------------------+-------------------+
only showing top 20 rows

In [83]:
countryCount = df.groupBy('customer_country').count()

In [84]:
countryCount.show()

+--------------------+-----+
|    customer_country|count|
+--------------------+-----+
|                Chad|    2|
|            Anguilla|    1|
|               Macao|    1|
|Heard Island and ...|    2|
|               Yemen|    3|
|              Sweden|    1|
|             Tokelau|    2|
|French Southern T...|    1|
|            Kiribati|    2|
|              Guyana|    2|
|             Eritrea|    1|
|         Philippines|    1|
|      Norfolk Island|    3|
|               Tonga|    1|
|            Malaysia|    2|
|                Fiji|    1|
|              Turkey|    2|
|United States Vir...|    1|
|      Western Sahara|    1|
|              Malawi|    1|
+--------------------+-----+
only showing top 20 rows